:root {
    padding: 0;
    margin: 0;
}

main {
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(blue);
}

@media(prefers-color-scheme: dark) {
    main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(red, white);
    }
}

.pk-card {
    width: 20em;
    height: fit-content;
    background-image: linear-gradient(#282424 10%, #c94c4c 40%);


    padding: 2em;
    border-radius: 1em;
    border: 5px, solid, pink;
    filter: drop-shadow(10px 10px 10px red)
}


#pk-title {
    height: 2rem;
    width: auto;
    background-color: red;
    align-content: end;
    padding-bottom: 1rem;
    border-radius: 5px;
    padding-left: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

#pic {
    width: auto;
    align-content: center;
    margin: auto;
    height: 11em;
    border-radius: 5px;
    border-left: 5px solid red;
    border-bottom: 5px solid green;
    border-right: 8px solid yellow;
    border-top: 4px solid blue;
}

#move_grid {
    height: 10em;
    width: auto;
    border: 10px solid transparent;

    border-image: url(pk-border.png) 30 round;
    
    border-radius: 5px;
    margin-top: 1.5em;

    display: grid;
    grid-auto-columns: min-content;
    row-gap: 20px;
    padding: 2em;
}


#move{
    
    height: 5em;
    
    background-color: red;
}